<launch>
    <remap from="odom" to="/trin_base_controller/odom"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="carrot_planner/CarrotPlanner"/>
    <rosparam file="$(find navs)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find navs)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navs)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navs)/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find navs)/base_local_planner_params.yaml" command="load" />
    <rosparam param = "recovery_behaviors"> [{name: "aggressive_reset", type: "clear_costmap_recovery/ClearCostmapRecovery"}] </rosparam>
    <param name = "controller_frequency" value = "8.0" />
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
 </node>

</launch> 